---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
//@import
//        "base",
//        "layout",
//        "syntax-highlighting"
//;

* {
	font-family: sans-serif;
	font-size: 16px;
}

header,
main,
footer {
	border-bottom: 1px solid #acacac;
}

header.container,
div.container
{
	margin: 0 auto;
}

header h1 {
	font-weight: bold;
}

header .navbar-right {
	float: right;
}

main {
	padding: 2em 0;
}

main h2 {
	margin-top: 0;
	margin-bottom: 20px;
}

.contacts {
	margin-top: 2em;
}

.beige {
	background-color: #f0f0db;
}

.usflag {
	position: relative;
}

.usflag::before {
	position: absolute;
	top: 4px;
	left: -12px;
	display: block;
	width: 24px;
	height: 20px;
	content: '';
	background-image: url(" {{ '/img/usflag.png' | prepend: site.baseurl }} " );
}

.glyphicon {
	margin-right: 5px;
}