<footer class="row container-fluid beige">
	<div class="container">
		<ul class="list-inline">
			<li role="presentation"><a href="{{ site.baseurl }}" class="btn btn-link">{{ page.page-name }}</a></li>
			<li role="presentation"><a href="{{ site.baseurl }}/en" class="btn btn-link usflag">{{ page.page-secondary }}</a></li>
		</ul>
	</div>
</footer>