<header class="row clearfix container-fluid beige">
	<div class="container">
		<div class="row">
			<a href="{{ site.baseurl }}"><h1>{{ page.h1 }}</h1></a>
		</div>
		<div class="row">
			<p class="lead">{{ page.location }}</p>
		</div>
	</div>
	<div class="container">
		<div class="row col-lg-12 col-xs-12">
			<ul class="list-inline navbar-right">
				<li role="presentation"><a href="{{ site.baseurl }}/" class="btn btn-primary">{{ page.page-name }}</a></li>
				<li role="presentation"><a href="{{ site.baseurl }}/en" class="btn btn-info">{{ page.page-secondary }}</a></li>
			</ul>
		</div>
	</div>
</header>