<main class="row container-fluid">
	<div class="container">
		<div class="row">
			<h2>{{ page.h2 }}</h2>
			<p class="lead">{{ page.plead-one }}
			</p>
			<p class="lead">{{ page.plead-two }}</p>
			<p class="lead">{{ page.plead-three }}</p>
			<p class="lead">{{ page.plead-four }}</p>
		</div>
		<div class="contacts row">
			<div class="col-lg-4 col-md-4 col-sm-4 address">
				<address>
 					<strong>{{ page.h1 }}</strong><br>
  				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>3636 Poplar Ave,<br>Pittsburgh, PA 15234<br>
  				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><abbr title="Phone">{{ page.pastor }}:</abbr> <a href="tel:14128354232" title="Телефон пастора" class="btn btn-link">412-835-4232</a>
				</address>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div id="map" style="height: 400px; width: 100%;"></div>
			</div>
		</div>
	</div>
</main>