<script>
      function initMap() {
        var uluru = {lat: 40.3668867, lng: -80.0212879};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru,
          gestureHandling: 'cooperative'
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5lcmnX7ArrlmIFQdRS5PFdfORGa1Yb3k&callback=initMap">
</script>