<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div class="container-fluid">
        {% include header.html %}
    
        {% include main.html %}
    
        {% include footer.html %}
    </div>
    
    {% include script.html %}
    
  </body>

</html>
